body {
  background-color: 	#366923;
}

.authenticate {
  float: right;
}

.extras {
  background-color: white;
  font-family: fantasy;
  border: 4px solid #99795C;
  border-radius: 10px;
  padding-top: 2%;
  margin-bottom: 2%;

}

.link {
  font-size: 20px;
  text-align: left;
}

 .products {
  background-color: white;
  font-family: fantasy;
  border: 4px solid #99795C;
  border-radius: 10px;
  padding-top: 2%;

}

.review {
  font-size: 15px;
  text-align: left;

}
/*
.subTitle {
  font-family: fantasy;
  text-align: center;
  font-size: 600px;
  font-weight: 600;
  color: #3EAFFF;
  text-shadow: 1px 1px #675645;
  letter-spacing: 2px;
} */

#mainTitle {
  font-family: fantasy;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

#navBar {
  background-color: #CCC7B3;
  border-bottom: 4px solid #99795C;
  margin-bottom: 4%;
  height: 50px;
}

#pallete {
  font-size: 20px;
  border: 4px solid #99795C;
  border-radius: 10px;
  background-color: #CCC7B3;

}

#productCol {
  column-count: 2;

}

#productHead {
  font-size: 50px;
  text-decoration: underline;
}

#store_info {
  font-size: 20px;
  font-family: fantasy;
  font-weight: bolder;
  text-align: center;
  padding: 1%;
  padding-top: 2%;
}

#title {
  font-size: 70px;
  font-family: fantasy;
  text-align: center;
  font-weight: 600;
}

#title_container {
  border: 4px solid #99795C;
  border-radius: 10px;
  background-color: 	#CCC7B3;
  margin-bottom: 2%;
  padding-top: 1.5%;
  color: #3EAFFF;
  text-shadow: 2px 2px #675645;
  letter-spacing: 2px;
}
