<h1>Welcome to Luigi's!</h1>

<h2>We got all the best products from around the world! Everything is organic and fair trade. Take a look at the goods we have available, update them, or even leave a review!</h2>


<h1>Available Products</h1>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products available :(</p>
<% end %>


<p><%= link_to "Create new product", new_product_path %></p>
